
/*modal content*/
.modal-container {
  width: 50%;
  margin: 0 10%;
  max-height: 88vh;
  color: #fff;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  

  
  /*for the top*/
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;
}
.modal-container h3 {
  font-size: 90%;

}

.modal-container::-webkit-scrollbar {
  display: none;
}
.modal-header {
  display: flex;
  justify-content: space-around;
  background-color: #0a0909;
  color: #fff;
  width: 100%;
}

.modal-header-title {
  justify-self: start;
}

.modal-header-button {
  cursor: pointer;
}

.modal-container > .modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 10px;
}

.modal-container > div > img {
  height: 120px;
  width: 120px;
}

.total-content {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
}

/*se agregaron unas lineas de css con media querys para que se adapte mejor al responsive :)*/

@media only screen and (max-width: 750px) {
  .modal-container {
    width: 100%;
    margin: 0;
    min-height: 88vh;
  }
  .modal-container{
    width: 94%;
  }
  .modal-container h3 {
    font-size: 60%;
  
  }
  .modal-container p {
    font-size: 60%;
  
  }
  .modal-container > .modal-content {
    justify-content: space-between;
    width: 100%;
    margin: 2px;
  }

  .modal-container > div > img {
    height: 80px;
    width: 80px;
  }
}

/*delete button product*/
.delete-product {
  cursor: pointer;
}

