body{
    background-color:#31302F !important;
    min-height: 100vh !important;
    margin: 0 !important;
}

.form-colors{
    color:  #C10001 !important;
    border-radius: 1px !important;
    border-color:  #C10001 !important;
    font-family: 'Roboto Mono', monospace;
}
  
.admin-inputs{
    background-color:black !important;
    border-color:#764C4C!important;
    color:  #C10001!important;
}
.agregar{
    background-color:#9A9693!important;
    color:#C10001 !important;
}

