@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primer-color: #31302F;
    --segundo-color: #764C4C;
    --tercer-color: #9A9693;
    --cuarto-color: #F6F6F6;
    --quinto-color: #C10001;
}

body{
    background-color: var(--primer-color) !important;
}

#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

/*Inicio Buscador*/
#search-results{
    
}

/*Fin Buscador*/

/*Inicio Nav*/
#navegador-index {
    background-color: black !important;
}
.ingresar:hover {
    scale: 1.2 !important;
    transition: 300ms ease-in;
    color: #c10001 !important;
}
.registro:hover {
    scale: 1.2 !important;
    transition: 300ms ease-in;
    color: #c10001 !important;
}
.nav {
    background-color: black !important;
}

.carrito {
    width: 1.9rem;
    height: 1.9rem;
}

.nav-link {
    color: white !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
    font-weight: bold !important;
}

.navegador {
    background-color: white !important;
}

.busqueda {
    background-color: white !important;
    border-color: #c10001 !important;
    color: #c10001 !important;
}

.busqueda::placeholder {
    color: black !important;
    opacity: 0.6 !important;
}

.buscar {
    background-color: #c10001 !important;
    border-color: white !important;
}

.login {
    border-color: white !important;
    background-color: #c10001 !important;
}
.login:hover {
    scale: 1.1;
    transition: 300ms ease-in;
}
@media (max-width: 766px) {
    #navegador-index {
    height: 4rem;
}   
}

/*Fin Nav*/

/*Acerca De Nosotros*/
.contenedor_pre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 10rem;
    max-width: 90rem;
    border-radius: 1rem;
    background-color: var(--primer-color);
    border: solid 0.1rem var(--quinto-color);
    box-shadow: 0 0.5rem 1rem var(--primer-color);
}
.titulo_pagina{
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    color: var(--cuarto-color);
    margin-bottom: 1rem;
}
.frase_pagina{
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    color: var(--quinto-color);
    margin-bottom: 1rem;
}

.contenedor_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 90rem;
}

.contenedor_item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 18rem;
    background-color: var(--primer-color);
    /*background: radial-gradient(circle, var(--primer-color) 0%, rgba(154,150,147,1) 100%);*/
    margin: 2rem;
    border: solid 0.1rem var(--quinto-color);
    border-radius: 2rem;
    padding: 0.5rem;
    overflow: hidden;
    transition: transform .2s; 
}

.contenedor_item:hover{
    transform: scale(1.1);
    box-shadow: 0 0.5rem 1rem var(--cuarto-color);
}

.card_image{
    display: flex;
    width: 13rem;
    height: 13rem;
    border-radius: 20%;   
    margin: 0 auto;
    box-shadow: 0 0.5rem 1rem var(--primer-color);
}

.card_texto{
    color: var(--quinto-color);
    text-align: center;
    margin: 0.5rem;
    font-size: 1rem;
}

.iconos_redes{
    display: flex;
    flex-wrap: wrap;
    max-width: 20rem;
    justify-content: center;
    align-items: center;
}

.iconos_redes a img{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem;
    text-decoration: none;
    transition: transform .2s; 
}

.iconos_redes a img:hover{
    transform: scale(1.1);
}
/*Fin Acerca De Nosotros*/

/*footer*/
footer{
    font-family: "Poppins", sans-serif;
    background-color: black!important;
    margin-top: 2rem !important;
    width: 100%;
    bottom: 0;
}

img {
    width: 130px;
}

.footer-principal{
    background-color: black!important;
    color: white;
}

.footer-principal p {
    color: white!important;
}

.footer-secundario{
    background-color: #9A9693;
    color: black!important;
}
/*Fin Footer*/