@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.contain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}
.lg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  color: white;
}
.abrir-menu{
  display: none;
}
.btn {
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  /* padding-right: 3rem; */
}
.log {
  height: 7rem;
}
.btn a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: 300ms ease-in;
}
.btn a:hover {
  scale: 1.1;
  color: #C10001;
}
.sreach {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buscador{
  padding-left: 0.5rem;
    border-radius: 8px;
    border-color: #C10001;
}
.loop {
  padding-top: 10px;
}
.carrito {
  height: 2rem;
  transition: 300ms ease-in;
}
.carrito:hover {
  scale: 1.1;
  
}
@media (max-width: 1070px) {
  .sreach {
    display: none;
  }
  .btn {
    width: 100%;
    justify-content: space-around;
  }
.abrir-menu{
  display: none;
}
}
@media (max-width: 726px) {
.btn{
  display: none;
}
.abrir-menu{
  display: block;
  margin-right: 2rem;
}
}

a.loop img {
  height: 1.5rem;
  margin-left: 0.5rem;
}
input.buscador:focus-visible {
  outline: none;
}